#cart-container {
    float: right;
    padding-right: 30%;
  }
  
  #cart-icon {
    width: 50px; 
    height: auto; 
  }

  #weekend-icon, #kayak-icon {
    width: 8%;
    height:auto;
    padding-left: 1%;
  }
    #zen-icon {
    width: 11%;
    height: auto;
    } 