#cart-container {
    float: right;
    padding-right: 30%;
  }
  
  #cart-icon {
    width: 50px; 
    height: auto; 
  }

  #weekend-icon, #kayak-icon {
    width: 8%;
    height:auto;
    padding-left: 1%;
  }
    #zen-icon {
    width: 11%;
    height: auto;
    }
    .draggable {
        cursor:pointer;
    }
    .over {
        border:2px dashed #000
    }

    li a[href*=".html"] {
      color: rgb(220, 39, 214);
      font-weight: bold;
  }